.App {
  text-align: center;
  /* background-image: 2png; */
}

body {
  background-image: url("images/background.png");

  margin: 0;
  padding: 0;
}

button {
  color: rgb(10, 10, 10);
  background-color: rgb(250, 250, 250);
  border: none;
  border-radius: 20px;
  box-shadow: 1px 3px 5px 2px rgba(76, 75, 75, 0.1);

  padding: 10px;
  font-size: 0.8rem;
}

button:hover {
  background-color: rgb(226, 226, 226);
}

input {
  border-radius: 30px;
  border-style: none;
  padding: 10px;
  margin: 5px;
  color: rgb(10, 10, 10);
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 3px 5px 2px rgba(76, 75, 75, 0.1);
}

@media (min-width: 700px) {
  .hamburger {
    height: 90px !important;
    width: 90px !important;
  }

  .cartimg {
    height: 80px !important;
    width: 80px !important;
  }
}

.modalclass {
  background-color: rgba(255, 236, 236, 0.8);
  padding: 20px;
}

.hamburger {
  height: 70px;
  width: 70px;
}

.cartimg {
  height: 60px;
  width: 60px;
}

h1 {
  font-size: 100px;
  padding-left: 30px;
  padding-top: 30px;
}

textarea {
  border-radius: 30px;
  border-style: none;
  padding: 15px;
  margin-bottom: 5px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;

  font-size: 17px;
}

.datetimepicker {
  box-sizing: border-box;
  max-width: 10%;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-size: 0.8rem;
}

li {
  list-style: none;
}
